/*
----- Tesla Font Import -----
*/

@import url('https://fonts.cdnfonts.com/css/tesla-2');

/*
----- Base Page Design -----
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
  
  body {
    margin:0;
    background-color: var(--background-color-body);
    color: var(--text-color-body);

    font-family: 'TESLA', sans-serif;
  }

  /*
  ----- Controlls Header -----
  */

  .Controlls_Header {
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: var(--background-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5%;
    top: 2.5%;

    font-size: 20px;
  }

  /*
  ----- Controlls Theme -----
  */

  [data-theme='dark'] {
    --background-color-controlls: #333;
    --text-color-controlls: white;
    --icon-color-controlls: white;
  }

  [data-theme='light'] {
    --background-color-controlls: #ccc;
    --text-color-controlls: black;
    --icon-color-controlls: black;
  }

  /*
  ----- Window Control Panel -----
  */

  .Window {
    position: absolute;
    width: 60%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5%;
    top: 22%;

    font-size: 25px;
  }

  .Window p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Window input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }

  /*
  ----- Window Status Panel -----
  */

  .Window_Status {
    position: absolute;
    width: 25%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    right: 5%;
    top: 22%;

    font-size: 15px;
  }

  .Window_Status p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
  }

  /*
  ----- Window Data Panel -----
  */

  .Window_Data {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    font-size: 20px;
  }

  .Window_Data p {
    top: 50%;
  }

  /*
  ------ AC Control Panel -----
  */

  .AC {
    position: absolute;
    width: 60%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5%;
    top: 34%;

    font-size: 25px;
  }

  .AC p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AC input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }

  /*
  ----- AC Status Panel -----
  */

  .AC_Status {
    position: absolute;
    width: 25%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    right: 5%;
    top: 34%;

    font-size: 15px;
  }

  .AC_Status p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
  }

  /*
  ----- AC Data Panel -----
  */

  .AC_Data {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    font-size: 20px;
  }

  .AC_Data p {
    top: 50%;
  }

  /*
  ----- Lock Controll Panel -----
  */

  .Lock {
    position: absolute;
    width: 60%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5%;
    top: 10%;

    font-size: 25px;
  }

  .Lock p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Lock input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }

  /*
  ----- Lock Status Panel -----
  */

  .Lock_Status {
    position: absolute;
    width: 25%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    right: 5%;
    top: 10%;

    font-size: 15px;
  }

  .Lock_Status p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
  }

  /*
  ----- Lock Data Panel -----
  */

  .Lock_Data {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    font-size: 20px;
  }

  .Lock_Data p {
    top: 50%;
  }

  /*
  ----- Smart Call Panel -----
  */

  .Smart_Call {
    position: absolute;
    width: 90%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5%;
    top: 46%;

    font-size: 25px;
  }

  .Smart_Call p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Smart_Call input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }

  /*
  ----- Start Car Panel -----
  */

  .Start_Car {
    position: absolute;
    width: 90%;
    height: 9%;
    background-color: var(--background-color-controlls);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 5%;
    top: 58%;

    font-size: 25px;
  }

  .Start_Car p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Start_Car input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
  }